/* album_recommend.css 推荐公司相册 */

#main_right_info {
}
#main_right_info div {
	padding-left: 25px;
	background: #EFF2F9 url(img090216/1000312.gif) no-repeat 10px 5px;
}
#main_right_info h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 14px;
}
#main_right_info div p {
	padding: 0 0 10px 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}
#main_right_info span.num {
	color: #FF6700;
	font-size: 15px;
	font-weight: bold;
}
#albumSearchBox {
	margin-bottom: 10px;
}
#albumSearchBox td {
	font-size: 14px;
	font-weight: bold;
}
#albumSearchBox input {
	font-weight: normal;
	color: #999;
	width: 260px;
	margin-right: 5px;
}
#albumListTb {
	background: #A0B6E8;
	width: 100%;
}
#albumListTb td {
	text-align: center;
}
#albumListTb thead td {
	background: #EFF3FA;
	font-size: 14px;
	padding: 5px;
}
#albumListTb tbody td {
	background: #fff;
	height: 165px;
}
#albumListTb tbody tr.selected td {
	background: #F1F3FA;
}
#albumListTb tbody td.album {
	background: #fff url(img090216/album.png) no-repeat 50% 50%;
	_background: #fff url(img090216/album.gif) no-repeat 50% 50%;
}
#albumListTb tbody tr.selected td.album {
	background: #F1F3FA url(img090216/album.png) no-repeat 50% 50%;
	_background: #F1F3FA url(img090216/album_F1F3FA.png) no-repeat 50% 50%;
}
#albumListTb tbody td a {
	font-weight: bold;
	color: #000;
}
#albumListTb tbody td a:hover {
	color: #ff6700;
}
#albumListTb tbody span.num,
#rcmdAlbum span.datetime,
#albumListTb tbody span.datetime {
	font-family: Arial;
	color: #A9A9A9;
	font-size: 11px;
}
#albumListTb tbody span.lock {
	color: #c00;
	padding-left: 15px;
	background: url(img090216/6006312.gif) no-repeat 0 50%;
}
#showPage li {
	clear: both;
	font-size: 14px;
}
#showPage li.wp-gotopage {
	margin-bottom: 8px;
}
#rcmdAlbum table.album {
	width: 137px;
	background: url(img090216/album.gif) no-repeat 50% 50%;
	text-align: center;
}
#rcmdAlbum table.album tr {
	height: 157px;
}
#rcmdAlbum table.album tr.tr1h {
	height: 10px;
}
#rcmdAlbum table.album .rcmdAlbumBox {
	position: relative;
	width: 100%;
	height: 1px;
}
#rcmdAlbum table.album td .rcmdFlag {
	position: absolute;
	background: url(img090216/recommend.png) no-repeat;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img090216/recommend.png',sizingMethod='crop');
	_background: none;
	width: 147px;
	height: 34px;
	left: -5px;
	top: -22px;
}
#rcmdAlbum a.albumName {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
#rcmdAlbum a.albumName:hover {
	color: #ff6700;
}
