/* 相册上传相关样式 */

.upload-step {
	line-height: 36px;
	font-weight: bold;
	font-size: 14px;
	padding-left: 35px;
	background: url(http://img.china.alibaba.com/images/cn/market/danai/090210/icon_90210.gif) no-repeat scroll 10px -203px;
	border-bottom: dotted 1px #B6C6DD;
}
#uploadArea ul.ul-inline,
#uploadArea ul.ul-inline li {
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
}
.upload-step ul,
.upload-step ul li {
	height: 36px;
	line-height: 36px;
	padding-right: 10px;
}
div#upload-step3 {
	position: relative;
}
div#upload-step3 li.wp-gotopage {
	position: absolute;
	top: 10px;
	right: 0px;
}
.upload-step span.s {
	font-size: 12px;
	font-weight: normal;
}
#upload-step2 {
	background: url(http://img.china.alibaba.com/images/cn/market/danai/090210/icon_90210.gif) no-repeat scroll 10px -293px;
}
#main_right_body .upload-step2-enabled {
	background: url(http://img.china.alibaba.com/images/cn/market/danai/090210/icon_90210.gif) no-repeat scroll 10px -263px;
}
#main_right_body .bigOK {
	margin-bottom: 20px;
}
#main_right_body .bigOK div {
	padding-left: 80px;
	background: #EFF2F9 url(img090216/1000848.gif) no-repeat 15px 50%;
}
#main_right_info h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 14px;
}
#uploadTopInfo {
	border: 1px solid #A0B6E8;
	margin-top: 10px;
	display: none;
}
#uploadTopInfo div {
	background: #EFF2F9;
	border-top: solid 2px #d4dced;
	border-left: solid 2px #d4dced;
	padding: 4px 8px;
}
#uploadRightInfo {
	float: right;
	margin-top: -165px;
	width: 215px;
	padding-left: 20px;
	background: url(img090216/1000312.gif) no-repeat 0 2px;
}

#albumArea {
	margin: 10px 0 30px 0;
	height: 412px;
	overflow: auto;
	position: relative;
}

#uploadArea {
	padding: 10px 0;
	font-size: 14px;
}
#uploadBox {
	margin: 10px 0;
	font-size: 12px;
	padding: 10px;
	height: 185px;
	background: #f7f7f7;
}
#uploadAct {
	font-size: 12px;
	color: #999;
	height: 100px;
	width: 510px;
}
#upload-step2-toInfo {
	display: none;
}
#upload-step2-albumName {
	color: #F24500;
}

#photo-list {
	position: relative;
	overflow: hidden;
}
#photo-list ul {
}
#photo-list li {
	clear: both;
	height: 176px;
	+height: 172px;
	margin: 0;
	padding: 10px 0;
	overflow: hidden;
}
#photo-list .left {
	width: 210px;
	overflow: hidden;
	text-align: center;
}
#photo-list .photo {
	height: 165px;
	margin: 0 auto;
}
#photo-list .photo img {
	height: 150px;
}
#photo-list .right {
	width: 540px;
	overflow: hidden;
}
#photo-list .right p {
	margin: 5px 0 10px 0;
	padding: 0;
}
#photo-list .right input {
	width: 240px;
}
#photo-list .right textarea {
	width: 460px;
	height: 8em;
	font-size: 12px;
}
#photo-list .right span.abs {
	position: absolute;
}
#photo-list .right p.tright {
	text-align: right;
	background: url(img090216/copyDown.gif) no-repeat right 50%;
	padding-right: 15px;
	margin-right: 20px;
}
#photo-actions {
	border-top: 1px dotted #B6C6DD;
	clear: both;
	margin: 20px 0;
	padding: 10px 10px 20px 340px;
}

.photo table .photo-img {
	max-width: 180px;
	+max-width: none;
	overflow: hidden;
}
.photo table {
	background: url(img090216/s1.png) no-repeat 100% 100%;
}
.photo table .tb-bd-1,
.photo table .tb-bd-2,
.photo table .tb-bd-3,
.photo table .tb-bd-7,
.photo table .tb-bd-8,
.photo table .tb-bd-9 {
	height: 6px;
}
.photo table .tb-bd-1,
.photo table .tb-bd-4,
.photo table .tb-bd-7,
.photo table .tb-bd-3,
.photo table .tb-bd-6,
.photo table .tb-bd-9 {
	width: 6px;
}
.photo table .tb-bd-2 {
	background: url(img090216/s3.png) no-repeat;
}
.photo table .tb-bd-5 {
}
.photo table .tb-bd-6 {
	background: url(img090216/s2.png) no-repeat;
}
.photo table .tb-bd-1,
.photo table .tb-bd-8,
.photo table .tb-bd-9 {
	background: #fff;
}

.album .operation {
	display: none;
}

#uploadAct .bo_902btn {
	position: relative;
}
#uploadAct .bo_902btn .btn-icon {
	position: absolute;
	top: 10px;
	+top: 9px;
	left: 7px;
	width: 15px;
	height: 15px;
	background: url(img090216/6001412.gif) no-repeat 50% 50%;
}
#uploadAct .bo_902btn_disabled .btn-icon {
	background-image: url(img090216/6001412_gray.gif);
}
#uploadAct b.btnL {
	width: 25px;
}

#uploadMainInfo {
	width: 502px;
	height: 190px;
	overflow: hidden;
}
#uploadMainInfo .head {
	color: #ABA7C8;
	height: 25px;
	line-height: 25px;
}
#uploadMainInfo ul {
	height: 124px;
	overflow: auto;
	border: solid 1px #ccc;
	background: #fff;
}
#uploadMainInfo ul li {
	height: 24px;
	line-height: 24px;
	border-bottom: solid 1px #E4E4E4;
	overflow: hidden;
}
#uploadMainInfo div.title,
#uploadMainInfo div.size,
#uploadMainInfo div.act {
	float: left;
	width: 60px;
	text-align: center;
}
#uploadMainInfo div.size {
	text-align: right;
	width: 60px;
}
#uploadMainInfo div.title {
	width: 340px;
	text-align: left;
	padding-left: 8px;
}
#uploadMainInfo div.act a.del {
	display: block;
	width: 20px;
	margin: 0 20px;
	height: 18px;
	text-indent: -2000em;
	cursor: pointer;
	background: url(img090216/6006012.gif) no-repeat 50% 50%;
}

#uploaderStateBar {
	line-height: 24px;
	padding: 5px 10px;
	background: #e4e4e4;
	border: solid 1px #ccc;
	border-top: 0;
	font-size: 13px;
}
#uploaderStateBar span.right {
	font-weight: bold;
	margin: 0 30px 0 0;
}
#uploaderStateBar a {
	font-size: 14px;
	padding: 2px 0 2px 30px;
	background: url(img090216/1001016.gif) no-repeat 10px 50%;
	display: in-lineblock;
}
#uploaderStateBar a:link {
	color: #355EBA;
}
#uploaderStateBar a:hover {
	color: #f50;
}
