/* dragOrder */

#main_right_body {
	padding-bottom: 30px;
}
#main_right_info {
	margin: 10px 0;
}
#main_right_info div {
	padding-left: 25px;
	background: #EFF2F9 url(img090216/1000312.gif) no-repeat 10px 5px;
}
#main_right_info h3 {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 14px;
}
#main_right_info div p {
	padding: 0;
	font-weight: normal;
	font-size: 12px;
}
.orderOperation {
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	clear: both;
}
.orderOperation ul li {
	padding-right: 10px;
}
.orderOperation a.resetOrder {
	background: url(img090216/2004112.gif) no-repeat;
	padding-left: 20px;
}
.orderOperation a.cancel {
	background: url(img090216/2004116.gif) no-repeat;
	font-weight: bold;
	padding: 5px 0 5px 20px;
}
#orderArea {
	margin: 20px 0;
	width: 763px;
	overflow: hidden;
}
ul#orderItems {
	width: 780px;
}
#ygddfdiv,
ul#orderItems li.item {
	float: left;
	width: 12%;
	height: 115px;
	overflow: hidden;
	text-align: center;
	border: solid 1px #fff;
}
#ygddfdiv div.itemWrapper,
ul#orderItems li.item div.itemWrapper {
	width: 92px;
	height: 100px;
	overflow: hidden;
	cursor: pointer;
	background: url(img090216/album_small.png) no-repeat 50% 0;
	+background-image: url(img090216/album_small.gif);
	margin: 0 auto;
	padding: 10px 0 0 0;
}
#ygddfdiv div.itemWrapper div.title,
ul#orderItems li.item div.title {
	height: 14px;
	overflow: hidden;
	margin-top: 15px;
}
#ygddfdiv {
	border: 0 !important;
	padding-top: 5px;
	margin-top: -5px;
}

/* photo order */
#photoArea #orderArea {
	margin: 0 0 0 5px;
	width: 720px;
}
#photoArea ul#orderItems {
	width: 725px;
}
#photoArea ul#orderItems li.item {
	height: 90px;
}
div.photo div.wrapper div.itemWrapper,
#photoArea ul#orderItems li.item div.itemWrapper {
	background: url(img090216/photo_bg.png) no-repeat 2px 7px !important;
	width: 74px !important;
}

/* hand */
#ygddfdiv .wrapper {
	position: relative;
}
#ygddfdiv .wrapper #dragHand {
	position: absolute;
	width: 15px;
	height: 12px;
	top: -4px;
	right: 20px;
	z-index: 1001;
	background: transparent url(img090216/6005812.gif) no-repeat;
}
div.photo div.wrapper #dragHand {
	top: 0px !important;
	right: 20px !important;
}
